<section class="home">
  <h1 style="margin-bottom: 20px;">Welcome to Todos manager</h1>
  <div style="margin-top: 20px;">
    <%= form_with url: signin_path , method: "post", class: "register-form" do |userForm| %>
      <h1 class="title">Login</h1>
      <label class="label">Email:</label>
      <%= userForm.text_field :email, placeholder: "Email", class: "userForm-email"      %>
      <label class="label">Password:</label>
      <%= userForm.text_field :password, placeholder: "Password", class: "userForm-password"     %>
      <%= userForm.button :submit, class: "submit" do %>
        Register
      <% end %>
    <% end %>
  </div>
  <p>If you do not have account</p>
  <a href="<%= new_user_path %>">Create account</a>
</section>
