<div class="list">
  <div class="heading">
    <h3><%= section_label %></h3>
    <span class="count"><%= todos.completed.count %>/<%= todos.length %></span>
  </div>
  <ul class="list-ct">
    <% todos.each do |todo| %>
      <li class="list-item">
        <%= form_with url: "/todos/#{todo.id}", method: "patch" do |form| %>
          <%= form.check_box :completed, :checked => todo.completed, :onclick => "this.form.submit()" %>
        <% end %>
        <span class="item-text <%= todo.completed && 'item--completed' %>"> <%= todo.todo_text %></span>
        <% if showDate %>
          <span class="item-duedate"> <%= todo.due_date.to_s(:short) %></span>
        <% end %>
        <%# <span class="list_item-overdue">Overdue</span> %>
        <%= form_with url: "/todos/#{todo.id}", method: "delete" do |form| %>
          <%# <button class="list_item-deleteBtn"><img src="./delete.png"></button> %>
          <%= form.button :type => 'submit', :class => "item-delete" do |btn| %>
            <img src="./delete.png">
          <% end %>
        <% end %>
      </li>
    <% end %>
  </li>
</ul>
</div>
