<div class="list">
  <div class="heading">
    <h3><%= section_label %></h3>
    <span class="count"><%= todos.completed.count %>/<%= todos.length %></span>
  </div>
  <ul class="list-ct">
    <% todos.each do |todo| %>
      <li class="list-item">
        <input type="radio" <%= todo.completed && 'check' %> >
        <span class="item-text <%= todo.completed && 'item--completed' %>"> <%= todo.todo_text %></span>
        <% if showDate %>
          <span class="item-duedate"> <%= todo.due_date.to_s(:short) %></span>
        <% end %>
        <%# <span class="list_item-overdue">Overdue</span> %>
        <button class="item-delete"><img src="./delete.png"></button>
      </li>
    <% end %>
  </li>
</ul>
</div>
